@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "layout/header";

@import "pages/home";


/* .btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.2s;
  position: relative;
} */

